{% extends "layout.html" %}

{% block nav %}
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{{url_for('home')}}">TapIT</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link" href="{{url_for('manage_venue')}}">Back</a>
          </li>
        </ul>
      </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container" style="margin-top:50px;">
        <div class="card" style="width:50rem;margin:calc(3rem + 100px);">
            <div class="card-body" style="padding:65px 30px;">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col">
                            {{ form.venue_name.label }}
                            <div class="form-reg">
                                {% if form.venue_name.errors %}
                                    {{ form.venue_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                         {% for error in form.venue_name.errors %}
                                            <span>{{ error }}</span>
                                         {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.venue_name(class="form-control", placeholder="Venue") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                             {{ form.college.label }}
                             <div class="form-reg">
                                {% if form.college.errors %}
                                {{ form.college(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                     {% for error in form.college.errors %}
                                        <span>{{ error }}</span>
                                     {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.college(class="form-control", placeholder="College") }}
                                {% endif %}
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.details.label }}
                            <div class="form-reg">
                                {% if form.details.errors %}
                                    {{ form.details(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                         {% for error in form.details.errors %}
                                            <span>{{ error }}</span>
                                         {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.details(class="form-control", placeholder="Details") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            {{ form.capacity.label }}
                            <div class="form-reg">
                                {% if form.capacity.errors %}
                                    {{ form.capacity(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                         {% for error in form.capacity.errors %}
                                            <span>{{ error }}</span>
                                         {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.capacity(class="form-control", placeholder="Capacity") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            {{ form.equipment.label }}
                            <div class="form-reg">
                                {% if form.equipment.errors %}
                                    {{ form.equipment(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                         {% for error in form.equipment.errors %}
                                            <span>{{ error }}</span>
                                         {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.equipment(class="form-control", placeholder="Equipments") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {{ form.submit(class="btn btn-primary")}}
                </form>
            </div>
        </div>
    </div>
{% endblock%}

{% block script %}
{% endblock%}