{% extends "layout.html" %}
{% block css %}
{% endblock css %}

{% block nav %}
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/home">TapIT</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            {% if current_user.is_admin == True or current_user.is_faculty == True%}
                <a class="nav-link" href="{{url_for('addvenue')}}">Create Venue</a>
            {% else %}
                <a class="nav-link" href=#>My Venue</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
{% endblock nav %}

{% block content %}
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column"><div id="demo" class="carousel slide" data-ride="carousel" style=" width:100%; height: auto"></div></div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="cards" style="width: 18rem;  height:31rem; margin-bottom: 1rem;">
                    <img class="card-img-top" src='{{ url_for("static", filename="img/CASS.png")}}' alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CASSALIDA AMPITHEATER</h5>
                        <p class="card-text"></p>
                    </div>
                        <ul class="list-group list-group-flush">
                            <i class="fa fa-map-marker" style="font-size:16px; text-align:left"> CASS</i><br>
                            <i class="fa fa-clock" style="font-size:16px; text-align:left">  8:00 am - 5:00 pm</i><br>
                            <i class="fa fa-users" style="font-size:16px; text-align:left"> 100 persons</i><br>
                            <i class="fa fa-wrench" style="font-size:16px; text-align:left"> Chairs, Microphone, Tables</i>
                        </ul>
                    <div class="card-body" >
                        <a href="#" class=" btn btn-primary"style="height:500px;width:200px" >Edit</a>
                        <a href="#" class=" btn btn-danger" style="height:200px;width:200px" >Delete</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6" display="flex">
                <div class="cards" style="width: 18rem; height:31rem; margin-bottom: 1rem;">
                    <img class="card-img-top" src='{{ url_for("static", filename="img/SCS.png")}}' alt="Card image cap">
                    
                    <div class="card-body">
                        <h5 class="card-title">CCS-Faculty Lounge</h5>
                        <p class="card-text"></p>
                    </div>
                        <ul class="list-group list-group-flush">
                            <i class="fa fa-map-marker" style="font-size:16px; text-align:left">  CCS</i><br>
                            <i class="fa fa-clock" style="font-size:16px; text-align:left">  8:00 am - 5:00 pm</i><br>
                            <i class="fa fa-users" style="font-size:16px; text-align:left"> 100 persons</i><br>
                            <i class="fa fa-wrench" style="font-size:16px; text-align:left"> Chairs, Microphone, Tables</i>
                        </ul>
                    <div class="card-body" >
                        <a href="#" class=" btn btn-primary"style="height:500px;width:200px" >Edit</a>
                        <a href="#" class=" btn btn-danger" style="height:200px;width:200px" >Delete</a>
                    </div>
                </div>
            </div>

            {% for venue in venues%}
            {% for college in colleges %}
                <div class="col-sm-6" display="flex">
                    <div class="cards" style="width: 18rem; height:31rem; margin-bottom: 1rem;">
                        <img class="card-img-top" src='{{ url_for("static", filename="img/IIT.jpg")}}' alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">{{ venue.venue_name }}</h5>
                            <p class="card-text"></p>
                        </div>
                            <ul class="list-group list-group-flush">
                                <i class="fa fa-map-marker" style="font-size:16px; text-align:left"> {{ college.name }}</i><br>
                                <i class="fa fa-clock" style="font-size:16px; text-align:left">  8:00 am - 5:00 pm</i><br> 
                                <i class="fa fa-users" style="font-size:16px; text-align:left"> {{ venue.capacity }}</i><br> 
                                <i class="fa fa-wrench" style="font-size:16px; text-align:left"> {{ venue.equipment }}</i>
                            </ul>
                        <div class="card-body" >
                            <a  class=" btn btn-primary"style="height:500px;width:200px" data-toggle="modal" data-target="#modalUpdate{{ venue.id}}">Edit</a>
                            <a  class=" btn btn-danger" style="height:200px;width:200px" href="/venue/data/{{ venue.id }}/delete" onclick="return confirm('Are you sure you want to delete {{venue.id}}?')">Delete</a>                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endfor %}
        </div>

        {% for venue in venues%}
        <div class="modal fade" id="modalUpdate{{venue.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width:70vw">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Venue Information</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <i class="fas fa-times"></i>
                    </span>
                  </button>
                </div>
                <div class="modal-login mx-3">
                  <form method= 'POST' action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }} 
                    <div class="row">
                        <div class="col">
                            {{ form.venue_name.label }}
                            <div class="form-reg">
                                {% if form.venue_name.errors %}
                                    {{ form.venue_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                         {% for error in form.venue_name.errors %}
                                            <span>{{ error }}</span>
                                         {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.venue_name(class="form-control", placeholder="Venue") }}
                                {% endif %}
                            </div>
                        </div>
                            <div class="col">
                                 {{ form.details.label }}
                                 <div class="form-reg">
                                    {% if form.details.errors %}
                                    {{ form.details(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                         {% for error in form.details.errors %}
                                            <span>{{ error }}</span>
                                         {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.details(class="form-control", placeholder="Details") }}
                                    {% endif %}
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.college.label }}
                                <div class="form-reg">
                                    {% if form.college.errors %}
                                        {{ form.college(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.college.errors %}
                                                <span>{{ error }}</span>
                                             {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.college(class="form-control", placeholder="College") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                {{ form.capacity.label }}
                                <div class="form-reg">
                                    {% if form.capacity.errors %}
                                        {{ form.capacity(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.capacity.errors %}
                                                <span>{{ error }}</span>
                                             {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.capacity(class="form-control", placeholder="Capacity") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.equipment.label }}
                                <div class="form-reg">
                                    {% if form.equipment.errors %}
                                        {{ form.equipment(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.equipment.errors %}
                                                <span>{{ error }}</span>
                                             {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.equipment(class="form-control", placeholder="Equipment") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 2rem;">
                            <div class="col">
                              {{ form.submit(class="btn btn-primary", id="submit")}}
                            </div>
                        </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}

          {% for venue in venues %}
          <div class="portfolio-modal modal fade" id="delusermodal{{ venue.id }}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document" style="max-width:800px !important;">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
                <div class="modal-body text-center">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-lg-8">
                        <!-- Portfolio Modal - Title -->
                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ venue.venue_name }}</h2>
                        <!-- Portfolio Modal - Text -->
                        <p class="mb-5">Remove Venue?</p>
                        <button class="btn btn-danger" href="#" data-dismiss="modal">
                          Remove
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
</header>


{% endblock content %}

{% block script %}
{% endblock script %}