{% extends "layout.html" %}
{% block nav %}
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/landing">TapIT</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-text">Don't have an account?</a>
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
{% endblock nav %}

{% block content %}

    <div class="container" style="margin-top:50px;">
        <div class="card" style="width:50rem;margin:calc(3rem + 100px);">
            <div class="card-body" style="padding:65px 30px;">
                <form id="login" method="POST" action="{{url_for('login')}}">
                    <div class="row">
                        <div class="col">
                            <label>Email Address</label>
                            <div class="form-reg">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email Address" required>
                            </div>
                        </div>
                        <div class="col">
                            <label>Password</label>
                            <div class="form-reg">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" style="justify-content: flex-end">Sign In</button>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}
