{% extends "layout.html" %}
<!--{% block nameplate %}-->
<!--    <a class="navbar-brand" href="{{ url_for('welcome') }}">-->
<!--{% endblock nameplate %}-->
{% block nav %}
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/landing">TapIT</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
{% endblock nav %}

{% block content %}

    <div class="container" style="margin-top: calc(3rem + 100px);">
        <div class="card" style="margin:0 auto;">
            <div class="card-body" style="padding:65px 30px;">
                <form class="form-inline" id="signup" method="POST" action="{{url_for('signup')}}">

                    <input type="email" id="email" placeholder="First Name" name="email">

                    <input type="password" id="pwd" placeholder="Last Name" name="pswd">

                    <button class="btn btn-primary" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}